body {
    margin: 0;
}

header h1 {
    text-align: center;
    font-size: 1.5rem;
    border-top: 3px solid gray;
    border-bottom: 3px solid black;
    margin-bottom: 1rem;
}

p {
    margin-left: 1rem;
}

.audiotheque {
    display: flex;
    flex-direction: column;
    border-top: 3px solid gray;
    background-color: #cccccc;
}

.div_titreListe {
    display: flex;
}

#div_numéroAlbum {
    display: flex;
    align-items: center;
    margin-left: 3px;
}

.liste_albums {
    display: flex;
    flex-direction: column;
}

.btns_liste {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    gap: 1rem;
}

.bouton_bleu {
    background-color: #33CCFF;
    border: 3px solid blue;
}

.saisie_nombre {
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 115rem;
}

.checkbox_div {
    display: flex;
    align-items: center;
}

.checkbox_label{
    order: 2;
    color: gray;
}

.checkbox_input {
    order: 1;
}

.bouton_bleu:hover {
    background-color: #1a7b9c;
}

.bouton_rouge {
    background-color: #FF9900;
    border: 3px solid #666666;
}

.bouton_rouge:hover {
    background-color: #de8602;
}

.informations_albums {
    display: flex;
    align-self: center;
    width: 99%;
    flex-direction: column;
}

.ajout_album h2 {
    font-size: 1.5rem;
    border-top: 3px solid #666666;
    border-bottom: 3px solid #666666;
    text-align: center;
    background-color: #AFAFAF;
}

.ajout_album_boite {
    display: flex;
    flex-direction: column;
    width: 99%;
}

.ajout_album_radio_texte {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.div_type_auteur {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 2rem;
}

.informations_saisie {
    display: flex;
    flex-direction: column;
    width: 74%;
    align-items: flex-end;
    gap: 1.5rem;
}

.saisie_album {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 79%;
}

.titre_album_div {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    justify-content: end;
}

.interpretre_album_div {
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.input_div {
    width: 100%;
}

.label_div_titre {
    border: 3px solid gray;
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
    padding-left: 5px;
}

.plages_div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 15%;
    justify-content: flex-end;
}

.div_boite_plage {
    width: 75%;
}

.btns_ajout {
    display: flex;
    align-self: flex-end;
    gap: 1rem;
    margin-top: 1rem;
}

#select_listeInfos {
    width: 100%;
}

input[type=button] {
    cursor: pointer;
    vertical-align: middle;
    width: 5rem;
    height: 2rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

input[type=text] {
    border: 3px solid #666666;
    height: 1.5rem;
}

input[type=number] {
    border: 3px solid #666666;
}